<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.anxhit.mwm.mapper.MdCfgItemMapper" >
  <resultMap id="BaseResultMap" type="com.anxhit.mwm.model.MdCfgItem" >
    <constructor >
      <idArg column="ID" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="ORG_ID" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="ORG_CODE" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="HOSPITAL_ID" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="HOSPITAL_CODE" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="MODULE_ID" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="MODULE_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CLASSIFY_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CODE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="MEMO" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="INPUT_TYPE" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="DATA_TYPE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DATA_LEN" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="VD_ID" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="VD_CODE" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="SORT_NO" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="VALUE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="STATUS" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="PHONETIC_CODE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="FIVE_STROKE_CODE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CUSTOMIZE_CODE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATED_BY" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="CREATED_BY_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATED_AT" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="UPDATED_BY" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="UPDATED_BY_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UPDATED_AT" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="DATA_VERSION" jdbcType="DECIMAL" javaType="java.lang.Integer" />
      <arg column="DELETED_STATUS" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="DELETED_AT" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ORG_ID, ORG_CODE, HOSPITAL_ID, HOSPITAL_CODE, MODULE_ID, MODULE_NAME, CLASSIFY_NAME, 
    CODE, NAME, MEMO, INPUT_TYPE, DATA_TYPE, DATA_LEN, VD_ID, VD_CODE, SORT_NO, VALUE, 
    STATUS, PHONETIC_CODE, FIVE_STROKE_CODE, CUSTOMIZE_CODE, CREATED_BY, CREATED_BY_NAME, 
    CREATED_AT, UPDATED_BY, UPDATED_BY_NAME, UPDATED_AT, DATA_VERSION, DELETED_STATUS, 
    DELETED_AT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from md_cfg_item
    where ID = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from md_cfg_item
    where ID = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.anxhit.mwm.model.MdCfgItem" >
    <selectKey resultType="String" keyProperty="id" order="BEFORE">
      SELECT REPLACE(UUID(),'-','')
    </selectKey>
    insert into md_cfg_item (ID, ORG_ID, ORG_CODE, HOSPITAL_ID, 
      HOSPITAL_CODE, MODULE_ID, MODULE_NAME, 
      CLASSIFY_NAME, CODE, NAME, 
      MEMO, INPUT_TYPE, DATA_TYPE, 
      DATA_LEN, VD_ID, VD_CODE, SORT_NO, 
      VALUE, STATUS, PHONETIC_CODE, 
      FIVE_STROKE_CODE, CUSTOMIZE_CODE, CREATED_BY, 
      CREATED_BY_NAME, CREATED_AT, UPDATED_BY, 
      UPDATED_BY_NAME, UPDATED_AT, DATA_VERSION, 
      DELETED_STATUS, DELETED_AT)
    values (#{id,jdbcType=CHAR}, #{orgId,jdbcType=CHAR}, #{orgCode,jdbcType=CHAR}, #{hospitalId,jdbcType=CHAR}, 
      #{hospitalCode,jdbcType=CHAR}, #{moduleId,jdbcType=CHAR}, #{moduleName,jdbcType=VARCHAR}, 
      #{classifyName,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{inputType,jdbcType=CHAR}, #{dataType,jdbcType=VARCHAR}, 
      #{dataLen,jdbcType=INTEGER}, #{vdId,jdbcType=CHAR}, #{vdCode,jdbcType=CHAR}, #{sortNo,jdbcType=INTEGER}, 
      #{value,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{phoneticCode,jdbcType=VARCHAR}, 
      #{fiveStrokeCode,jdbcType=VARCHAR}, #{customizeCode,jdbcType=VARCHAR}, #{createdBy,jdbcType=CHAR}, 
      #{createdByName,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=CHAR}, 
      #{updatedByName,jdbcType=VARCHAR}, #{updatedAt,jdbcType=TIMESTAMP}, #{dataVersion,jdbcType=DECIMAL}, 
      #{deletedStatus,jdbcType=CHAR}, #{deletedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.anxhit.mwm.model.MdCfgItem" >
    insert into md_cfg_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="orgId != null" >
        ORG_ID,
      </if>
      <if test="orgCode != null" >
        ORG_CODE,
      </if>
      <if test="hospitalId != null" >
        HOSPITAL_ID,
      </if>
      <if test="hospitalCode != null" >
        HOSPITAL_CODE,
      </if>
      <if test="moduleId != null" >
        MODULE_ID,
      </if>
      <if test="moduleName != null" >
        MODULE_NAME,
      </if>
      <if test="classifyName != null" >
        CLASSIFY_NAME,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="memo != null" >
        MEMO,
      </if>
      <if test="inputType != null" >
        INPUT_TYPE,
      </if>
      <if test="dataType != null" >
        DATA_TYPE,
      </if>
      <if test="dataLen != null" >
        DATA_LEN,
      </if>
      <if test="vdId != null" >
        VD_ID,
      </if>
      <if test="vdCode != null" >
        VD_CODE,
      </if>
      <if test="sortNo != null" >
        SORT_NO,
      </if>
      <if test="value != null" >
        VALUE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="phoneticCode != null" >
        PHONETIC_CODE,
      </if>
      <if test="fiveStrokeCode != null" >
        FIVE_STROKE_CODE,
      </if>
      <if test="customizeCode != null" >
        CUSTOMIZE_CODE,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="createdByName != null" >
        CREATED_BY_NAME,
      </if>
      <if test="createdAt != null" >
        CREATED_AT,
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY,
      </if>
      <if test="updatedByName != null" >
        UPDATED_BY_NAME,
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT,
      </if>
      <if test="dataVersion != null" >
        DATA_VERSION,
      </if>
      <if test="deletedStatus != null" >
        DELETED_STATUS,
      </if>
      <if test="deletedAt != null" >
        DELETED_AT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=CHAR},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=CHAR},
      </if>
      <if test="hospitalId != null" >
        #{hospitalId,jdbcType=CHAR},
      </if>
      <if test="hospitalCode != null" >
        #{hospitalCode,jdbcType=CHAR},
      </if>
      <if test="moduleId != null" >
        #{moduleId,jdbcType=CHAR},
      </if>
      <if test="moduleName != null" >
        #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="classifyName != null" >
        #{classifyName,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="inputType != null" >
        #{inputType,jdbcType=CHAR},
      </if>
      <if test="dataType != null" >
        #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="dataLen != null" >
        #{dataLen,jdbcType=INTEGER},
      </if>
      <if test="vdId != null" >
        #{vdId,jdbcType=CHAR},
      </if>
      <if test="vdCode != null" >
        #{vdCode,jdbcType=CHAR},
      </if>
      <if test="sortNo != null" >
        #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="phoneticCode != null" >
        #{phoneticCode,jdbcType=VARCHAR},
      </if>
      <if test="fiveStrokeCode != null" >
        #{fiveStrokeCode,jdbcType=VARCHAR},
      </if>
      <if test="customizeCode != null" >
        #{customizeCode,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=CHAR},
      </if>
      <if test="createdByName != null" >
        #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=CHAR},
      </if>
      <if test="updatedByName != null" >
        #{updatedByName,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="dataVersion != null" >
        #{dataVersion,jdbcType=DECIMAL},
      </if>
      <if test="deletedStatus != null" >
        #{deletedStatus,jdbcType=CHAR},
      </if>
      <if test="deletedAt != null" >
        #{deletedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.anxhit.mwm.model.MdCfgItem" >
    update md_cfg_item
    <set >
      <if test="orgId != null" >
        ORG_ID = #{orgId,jdbcType=CHAR},
      </if>
      <if test="orgCode != null" >
        ORG_CODE = #{orgCode,jdbcType=CHAR},
      </if>
      <if test="hospitalId != null" >
        HOSPITAL_ID = #{hospitalId,jdbcType=CHAR},
      </if>
      <if test="hospitalCode != null" >
        HOSPITAL_CODE = #{hospitalCode,jdbcType=CHAR},
      </if>
      <if test="moduleId != null" >
        MODULE_ID = #{moduleId,jdbcType=CHAR},
      </if>
      <if test="moduleName != null" >
        MODULE_NAME = #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="classifyName != null" >
        CLASSIFY_NAME = #{classifyName,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="inputType != null" >
        INPUT_TYPE = #{inputType,jdbcType=CHAR},
      </if>
      <if test="dataType != null" >
        DATA_TYPE = #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="dataLen != null" >
        DATA_LEN = #{dataLen,jdbcType=INTEGER},
      </if>
      <if test="vdId != null" >
        VD_ID = #{vdId,jdbcType=CHAR},
      </if>
      <if test="vdCode != null" >
        VD_CODE = #{vdCode,jdbcType=CHAR},
      </if>
      <if test="sortNo != null" >
        SORT_NO = #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="value != null" >
        VALUE = #{value,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="phoneticCode != null" >
        PHONETIC_CODE = #{phoneticCode,jdbcType=VARCHAR},
      </if>
      <if test="fiveStrokeCode != null" >
        FIVE_STROKE_CODE = #{fiveStrokeCode,jdbcType=VARCHAR},
      </if>
      <if test="customizeCode != null" >
        CUSTOMIZE_CODE = #{customizeCode,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=CHAR},
      </if>
      <if test="createdByName != null" >
        CREATED_BY_NAME = #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY = #{updatedBy,jdbcType=CHAR},
      </if>
      <if test="updatedByName != null" >
        UPDATED_BY_NAME = #{updatedByName,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="dataVersion != null" >
        DATA_VERSION = #{dataVersion,jdbcType=DECIMAL},
      </if>
      <if test="deletedStatus != null" >
        DELETED_STATUS = #{deletedStatus,jdbcType=CHAR},
      </if>
      <if test="deletedAt != null" >
        DELETED_AT = #{deletedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.anxhit.mwm.model.MdCfgItem" >
    update md_cfg_item
    set ORG_ID = #{orgId,jdbcType=CHAR},
      ORG_CODE = #{orgCode,jdbcType=CHAR},
      HOSPITAL_ID = #{hospitalId,jdbcType=CHAR},
      HOSPITAL_CODE = #{hospitalCode,jdbcType=CHAR},
      MODULE_ID = #{moduleId,jdbcType=CHAR},
      MODULE_NAME = #{moduleName,jdbcType=VARCHAR},
      CLASSIFY_NAME = #{classifyName,jdbcType=VARCHAR},
      CODE = #{code,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR},
      INPUT_TYPE = #{inputType,jdbcType=CHAR},
      DATA_TYPE = #{dataType,jdbcType=VARCHAR},
      DATA_LEN = #{dataLen,jdbcType=INTEGER},
      VD_ID = #{vdId,jdbcType=CHAR},
      VD_CODE = #{vdCode,jdbcType=CHAR},
      SORT_NO = #{sortNo,jdbcType=INTEGER},
      VALUE = #{value,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR},
      PHONETIC_CODE = #{phoneticCode,jdbcType=VARCHAR},
      FIVE_STROKE_CODE = #{fiveStrokeCode,jdbcType=VARCHAR},
      CUSTOMIZE_CODE = #{customizeCode,jdbcType=VARCHAR},
      CREATED_BY = #{createdBy,jdbcType=CHAR},
      CREATED_BY_NAME = #{createdByName,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=CHAR},
      UPDATED_BY_NAME = #{updatedByName,jdbcType=VARCHAR},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      DATA_VERSION = #{dataVersion,jdbcType=DECIMAL},
      DELETED_STATUS = #{deletedStatus,jdbcType=CHAR},
      DELETED_AT = #{deletedAt,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=CHAR}
  </update>

  <select id="find" resultType="com.anxhit.mwm.model.MdCfgItem">
    select * from md_cfg_item
  </select>
</mapper>