<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.anxhit.mwm.mapper.MwmStockInMapper" >
  <resultMap id="BaseResultMap" type="com.anxhit.mwm.model.MwmStockIn" >
    <constructor >
      <idArg column="ID" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="ORG_ID" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="ORG_CODE" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="HOSPITAL_ID" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="HOSPITAL_CODE" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="STOCK_IN_ORDER" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="STOCK_IN_USER_ID" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="STOCK_IN_USER" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TROLLEY_ID" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="TROLLEY_NO" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="COLLECT_ID" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="STOCK_IN_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="STATUS" jdbcType="CHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ORG_ID, ORG_CODE, HOSPITAL_ID, HOSPITAL_CODE, STOCK_IN_ORDER, STOCK_IN_USER_ID, 
    STOCK_IN_USER, TROLLEY_ID, TROLLEY_NO, COLLECT_ID, STOCK_IN_TIME, STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from mwm_stock_in
    where ID = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from mwm_stock_in
    where ID = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.anxhit.mwm.model.MwmStockIn" >
    <selectKey resultType="String" keyProperty="id" order="BEFORE">
      SELECT REPLACE(UUID(),'-','')
    </selectKey>
    insert into mwm_stock_in (ID, ORG_ID, ORG_CODE, HOSPITAL_ID, 
      HOSPITAL_CODE, STOCK_IN_ORDER, STOCK_IN_USER_ID, 
      STOCK_IN_USER, TROLLEY_ID, TROLLEY_NO, 
      COLLECT_ID, STOCK_IN_TIME, STATUS
      )
    values (#{id,jdbcType=CHAR}, #{orgId,jdbcType=CHAR}, #{orgCode,jdbcType=CHAR}, #{hospitalId,jdbcType=CHAR}, 
      #{hospitalCode,jdbcType=CHAR}, #{stockInOrder,jdbcType=CHAR}, #{stockInUserId,jdbcType=CHAR}, 
      #{stockInUser,jdbcType=VARCHAR}, #{trolleyId,jdbcType=CHAR}, #{trolleyNo,jdbcType=VARCHAR}, 
      #{collectId,jdbcType=CHAR}, #{stockInTime,jdbcType=TIMESTAMP}, #{status,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.anxhit.mwm.model.MwmStockIn" >
    insert into mwm_stock_in
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="orgId != null" >
        ORG_ID,
      </if>
      <if test="orgCode != null" >
        ORG_CODE,
      </if>
      <if test="hospitalId != null" >
        HOSPITAL_ID,
      </if>
      <if test="hospitalCode != null" >
        HOSPITAL_CODE,
      </if>
      <if test="stockInOrder != null" >
        STOCK_IN_ORDER,
      </if>
      <if test="stockInUserId != null" >
        STOCK_IN_USER_ID,
      </if>
      <if test="stockInUser != null" >
        STOCK_IN_USER,
      </if>
      <if test="trolleyId != null" >
        TROLLEY_ID,
      </if>
      <if test="trolleyNo != null" >
        TROLLEY_NO,
      </if>
      <if test="collectId != null" >
        COLLECT_ID,
      </if>
      <if test="stockInTime != null" >
        STOCK_IN_TIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=CHAR},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=CHAR},
      </if>
      <if test="hospitalId != null" >
        #{hospitalId,jdbcType=CHAR},
      </if>
      <if test="hospitalCode != null" >
        #{hospitalCode,jdbcType=CHAR},
      </if>
      <if test="stockInOrder != null" >
        #{stockInOrder,jdbcType=CHAR},
      </if>
      <if test="stockInUserId != null" >
        #{stockInUserId,jdbcType=CHAR},
      </if>
      <if test="stockInUser != null" >
        #{stockInUser,jdbcType=VARCHAR},
      </if>
      <if test="trolleyId != null" >
        #{trolleyId,jdbcType=CHAR},
      </if>
      <if test="trolleyNo != null" >
        #{trolleyNo,jdbcType=VARCHAR},
      </if>
      <if test="collectId != null" >
        #{collectId,jdbcType=CHAR},
      </if>
      <if test="stockInTime != null" >
        #{stockInTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.anxhit.mwm.model.MwmStockIn" >
    update mwm_stock_in
    <set >
      <if test="orgId != null" >
        ORG_ID = #{orgId,jdbcType=CHAR},
      </if>
      <if test="orgCode != null" >
        ORG_CODE = #{orgCode,jdbcType=CHAR},
      </if>
      <if test="hospitalId != null" >
        HOSPITAL_ID = #{hospitalId,jdbcType=CHAR},
      </if>
      <if test="hospitalCode != null" >
        HOSPITAL_CODE = #{hospitalCode,jdbcType=CHAR},
      </if>
      <if test="stockInOrder != null" >
        STOCK_IN_ORDER = #{stockInOrder,jdbcType=CHAR},
      </if>
      <if test="stockInUserId != null" >
        STOCK_IN_USER_ID = #{stockInUserId,jdbcType=CHAR},
      </if>
      <if test="stockInUser != null" >
        STOCK_IN_USER = #{stockInUser,jdbcType=VARCHAR},
      </if>
      <if test="trolleyId != null" >
        TROLLEY_ID = #{trolleyId,jdbcType=CHAR},
      </if>
      <if test="trolleyNo != null" >
        TROLLEY_NO = #{trolleyNo,jdbcType=VARCHAR},
      </if>
      <if test="collectId != null" >
        COLLECT_ID = #{collectId,jdbcType=CHAR},
      </if>
      <if test="stockInTime != null" >
        STOCK_IN_TIME = #{stockInTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.anxhit.mwm.model.MwmStockIn" >
    update mwm_stock_in
    set ORG_ID = #{orgId,jdbcType=CHAR},
      ORG_CODE = #{orgCode,jdbcType=CHAR},
      HOSPITAL_ID = #{hospitalId,jdbcType=CHAR},
      HOSPITAL_CODE = #{hospitalCode,jdbcType=CHAR},
      STOCK_IN_ORDER = #{stockInOrder,jdbcType=CHAR},
      STOCK_IN_USER_ID = #{stockInUserId,jdbcType=CHAR},
      STOCK_IN_USER = #{stockInUser,jdbcType=VARCHAR},
      TROLLEY_ID = #{trolleyId,jdbcType=CHAR},
      TROLLEY_NO = #{trolleyNo,jdbcType=VARCHAR},
      COLLECT_ID = #{collectId,jdbcType=CHAR},
      STOCK_IN_TIME = #{stockInTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=CHAR}
    where ID = #{id,jdbcType=CHAR}
  </update>
</mapper>