<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.anxhit.mwm.mapper.MwmTsPointMapper" >
  <resultMap id="BaseResultMap" type="com.anxhit.mwm.model.MwmTsPoint" >
    <constructor >
      <idArg column="ID" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="TS_ID" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="POINT_NO" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TYPE_ID" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="TYPE_CODE" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="TYPE_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATED_BY" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="CREATED_BY_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATED_AT" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="UPDATED_BY" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="UPDATED_BY_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UPDATED_AT" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="DATA_VERSION" jdbcType="DECIMAL" javaType="java.lang.Integer" />
      <arg column="DELETED_STATUS" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="DELETED_AT" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, TS_ID, POINT_NO, TYPE_ID, TYPE_CODE, TYPE_NAME, CREATED_BY, CREATED_BY_NAME, 
    CREATED_AT, UPDATED_BY, UPDATED_BY_NAME, UPDATED_AT, DATA_VERSION, DELETED_STATUS, 
    DELETED_AT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from mwm_ts_point
    where ID = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from mwm_ts_point
    where ID = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.anxhit.mwm.model.MwmTsPoint" >
    <selectKey resultType="String" keyProperty="id" order="BEFORE">
      SELECT REPLACE(UUID(),'-','')
    </selectKey>
    insert into mwm_ts_point (ID, TS_ID, POINT_NO, 
      TYPE_ID, TYPE_CODE, TYPE_NAME, 
      CREATED_BY, CREATED_BY_NAME, CREATED_AT, 
      UPDATED_BY, UPDATED_BY_NAME, UPDATED_AT, 
      DATA_VERSION, DELETED_STATUS, DELETED_AT
      )
    values (#{id,jdbcType=CHAR}, #{tsId,jdbcType=CHAR}, #{pointNo,jdbcType=VARCHAR}, 
      #{typeId,jdbcType=CHAR}, #{typeCode,jdbcType=CHAR}, #{typeName,jdbcType=VARCHAR}, 
      #{createdBy,jdbcType=CHAR}, #{createdByName,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=CHAR}, #{updatedByName,jdbcType=VARCHAR}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{dataVersion,jdbcType=DECIMAL}, #{deletedStatus,jdbcType=CHAR}, #{deletedAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.anxhit.mwm.model.MwmTsPoint" >
    insert into mwm_ts_point
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="tsId != null" >
        TS_ID,
      </if>
      <if test="pointNo != null" >
        POINT_NO,
      </if>
      <if test="typeId != null" >
        TYPE_ID,
      </if>
      <if test="typeCode != null" >
        TYPE_CODE,
      </if>
      <if test="typeName != null" >
        TYPE_NAME,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="createdByName != null" >
        CREATED_BY_NAME,
      </if>
      <if test="createdAt != null" >
        CREATED_AT,
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY,
      </if>
      <if test="updatedByName != null" >
        UPDATED_BY_NAME,
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT,
      </if>
      <if test="dataVersion != null" >
        DATA_VERSION,
      </if>
      <if test="deletedStatus != null" >
        DELETED_STATUS,
      </if>
      <if test="deletedAt != null" >
        DELETED_AT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="tsId != null" >
        #{tsId,jdbcType=CHAR},
      </if>
      <if test="pointNo != null" >
        #{pointNo,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=CHAR},
      </if>
      <if test="typeCode != null" >
        #{typeCode,jdbcType=CHAR},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=CHAR},
      </if>
      <if test="createdByName != null" >
        #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=CHAR},
      </if>
      <if test="updatedByName != null" >
        #{updatedByName,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="dataVersion != null" >
        #{dataVersion,jdbcType=DECIMAL},
      </if>
      <if test="deletedStatus != null" >
        #{deletedStatus,jdbcType=CHAR},
      </if>
      <if test="deletedAt != null" >
        #{deletedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.anxhit.mwm.model.MwmTsPoint" >
    update mwm_ts_point
    <set >
      <if test="tsId != null" >
        TS_ID = #{tsId,jdbcType=CHAR},
      </if>
      <if test="pointNo != null" >
        POINT_NO = #{pointNo,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        TYPE_ID = #{typeId,jdbcType=CHAR},
      </if>
      <if test="typeCode != null" >
        TYPE_CODE = #{typeCode,jdbcType=CHAR},
      </if>
      <if test="typeName != null" >
        TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=CHAR},
      </if>
      <if test="createdByName != null" >
        CREATED_BY_NAME = #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY = #{updatedBy,jdbcType=CHAR},
      </if>
      <if test="updatedByName != null" >
        UPDATED_BY_NAME = #{updatedByName,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="dataVersion != null" >
        DATA_VERSION = #{dataVersion,jdbcType=DECIMAL},
      </if>
      <if test="deletedStatus != null" >
        DELETED_STATUS = #{deletedStatus,jdbcType=CHAR},
      </if>
      <if test="deletedAt != null" >
        DELETED_AT = #{deletedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.anxhit.mwm.model.MwmTsPoint" >
    update mwm_ts_point
    set TS_ID = #{tsId,jdbcType=CHAR},
      POINT_NO = #{pointNo,jdbcType=VARCHAR},
      TYPE_ID = #{typeId,jdbcType=CHAR},
      TYPE_CODE = #{typeCode,jdbcType=CHAR},
      TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      CREATED_BY = #{createdBy,jdbcType=CHAR},
      CREATED_BY_NAME = #{createdByName,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=CHAR},
      UPDATED_BY_NAME = #{updatedByName,jdbcType=VARCHAR},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      DATA_VERSION = #{dataVersion,jdbcType=DECIMAL},
      DELETED_STATUS = #{deletedStatus,jdbcType=CHAR},
      DELETED_AT = #{deletedAt,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=CHAR}
  </update>
</mapper>